@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  color: #bfbfbf;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 78px;
}

.fylo-logo {
  height: auto;
  width: 175px;
}

.header-links {
  display: flex;
  gap: 34px;
}

.header-links a {
  text-decoration: none;
  color: #000000;
}

hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px;
}

.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.hero-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.hero-form form {
  display: flex;
  gap: 15px;
}

.hero-form input {
  width: 278px;
  height: 44px;
  padding: 12px 0 12px 18px;
  outline: none;
}

.hero-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.buttons {
  padding: 12px 34px;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  border-radius: 2px;
}

.image-hero {
  height: auto;
  width: 44%;
}

main {
  display: flex;
  flex-direction: column;
}

.image-curve {
  margin-bottom: -1rem;
}

.main-parent {
  display: flex;
  padding: 98px 58px;
  background-color: #f8f8fe;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-container__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.main-container__content h1 {
  font-size: 2em;
}

.main-container__content p {
  max-width: 70%;
}

.main-container__content a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(170, 45%, 43%);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.main-container__content a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: hsl(170, 45%, 43%);
}

.box {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 12px rgba(212, 211, 211, 0.5);
  height: auto;
  width: 50%;
}

.box p {
  font-size: 14px;
}

.main-profile {
  display: flex;
  gap: 15px;
}

.main-profile img {
  border-radius: 50%;
  height: auto;
  width: 15%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-details h6 {
  font-family: "Raleway", sans-serif;
}

.profile-details p {
  font-size: 8px;
}

.image-main {
  height: auto;
  width: 40%;
}
.image-main img {
  width: 100%;
  height: 100%;
}

section {
  background-color: hsl(238, 22%, 44%);
  display: flex;
  padding: 58px;
  justify-content: space-between;
}

.section-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 20px;
  color: #fff;
}

section form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

section input {
  width: 452px;
  height: 46px;
  padding: 12px 0 12px 34px;
  outline: none;
}

footer {
  padding: 58px;
  background-color: hsl(243, 87%, 12%);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  font-size: 18px;
}

.footer-links__container {
  display: flex;
  gap: 25px;
  width: 100%;
}

.footer-links__contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.footer-links__contact-info a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.footer-links__contact-info img {
  width: 15px;
  height: auto;
}

.footer-links__other-links {
  display: flex;
  gap: 200px;
  flex: 2;
}

.other-links {
  display: flex;
  gap: 200px;
}

.footer-links__other {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-links__other a {
  text-decoration: none;
  color: #fff;
}

.footer-links__social-media {
  display: flex;
  gap: 10px;
  align-self: center;
  height: 100%;
}

.social-media-icons {
  height: auto;
  width: 40px;
  filter: invert(100%) sepia(25%) saturate(39%) hue-rotate(27deg)
    brightness(109%) contrast(111%);
}

/* Active states */

.buttons:hover {
  background-color: hsl(224, 100%, 75%);
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 28px 10px;
  }

  .fylo-logo {
    width: 94px;
  }

  .header-links {
    gap: 15px;
  }

  hero {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .image-hero {
    width: 60%;
  }

  .hero-contents {
    align-items: center;
  }

  .hero-contents h1,
  .hero-contents p,
  .main-container h1,
  .main-container p,
  .section-content h2,
  .section-content p {
    text-align: center;
    max-width: 100%;
  }

  .hero-form form {
    flex-direction: column;
  }

  .main-parent {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .main-container__content {
    align-items: center;
  }

  .main-container {
    align-items: center;
  }

  .box {
    width: 100%;
  }

  section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .section-content {
    max-width: 100%;
    align-items: center;
  }

  section input {
    width: 298px;
  }

  .buttons {
    width: 100%;
  }

  footer {
    font-size: 14px;
  }

  .footer-links__container {
    flex-direction: column;
  }

  .other-links {
    flex-direction: column;
    gap: 25px;
  }

  .footer-links__other-links {
    flex-direction: column;
    gap: 25px;
  }
}
