@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 78px;
}
.header-links a {
  text-decoration: none;
  color: #000000;
}
.header-links {
  display: flex;
  gap: 34px;
}
hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 78px;
}
.image {
  height: auto;
  width: 50%;
}
.hero-contents {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

main {
  display: flex;
  padding: 278px 78px;
}
section {
  background-color: hsl(238, 22%, 44%);
  display: flex;
  padding: 78px;
  justify-content: space-between;
}
.social-icons {
  filter: invert(100%) sepia(25%) saturate(39%) hue-rotate(27deg)
    brightness(109%) contrast(111%);
  height: auto;
  width: 40px;
}
footer {
  background-color: hsl(243, 87%, 12%);
  padding: 78px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fylo-logo {
  height: auto;
  width: 175px;
}
.footer-links {
  display: flex;
  gap: 214px;
}
.other-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
}
.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.social-media-icons {
  display: flex;
  gap: 10px;
}
.section-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 20px;
  color: #fff;
}
.get-started-button {
  background-color: hsl(224, 93%, 58%);
  text-decoration: none;
  color: #fff;
  padding: 12px 40px;
  font-size: 14px;
  box-shadow: 1px 1px 2px -1px rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}
